name: Destroy Development Environment

on:
  workflow_dispatch:

jobs:
  validate_dev_env:
    uses: ./.github/workflows/terraform_validate.yaml
    with:
      working_directory: infrastructure/talk-booking-service/development
    secrets:
      aws_role_arn: ${{ secrets.AWS_ROLE_ARN }}
  
  destroy_dev_environment:
    needs: [validate_dev_env]
    uses: ./.github/workflows/terraform_destroy.yaml
    with:
      working_directory: infrastructure/talk-booking-service/development
    secrets:
      aws_role_arn: ${{ secrets.AWS_ROLE_ARN }}
