name: Talk booking code quality

on:
  push:

permissions:
  packages: write
  pull-requests: read

jobs:
  talk_booking_code_quality:
    runs-on: ubuntu-latest
    container: 
      image: ghcr.io/${{ github.repository }}/talk-booking:cicd-python3.10-slim
    steps:
      - uses: actions/checkout@v2.4.0
      - run: cd services/talk_booking
      - run: poetry install
      - run: poetry run flake8 .
      - run: poetry run black . --check
      - run: poetry run isort . --check-only --profile black
      - run: poetry run bandit .
      - run: poetry run safety check