name: Validate and Deploy VPC

on:
  push:
    branches:
      - master
    paths:
      - infrastructure/global/**/*
  workflow_dispatch:

jobs:
  validate__vpc:
    uses: ./.github/workflows/terraform_validate.yaml
    with:
      working_directory: infrastructure/global/vpc
    secrets:
      aws_role_arn: ${{ secrets.AWS_ROLE_ARN }}
  
  deploy_vpc:
    needs: [validate_vpc]
    uses: ./.github/workflows/terraform_deploy.yaml
    with:
      working_directory: infrastructure/global/vpc
    secrets:
      aws_role_arn: ${{ secrets.AWS_ROLE_ARN }}
      
