name: Validate From Template

on:
  push:
    branches:
      - master
    paths:
      - infrastructure/global/**/*
  workflow_dispatch:

jobs:
  validate_deploy_aws_vpc:
    uses: rbraddev/talk-booking/.github/workflows/terraform_validate.yaml@master
    with:
      working_directory: infrastructure/global/vpc
      aws_role_arn: ${{ secrets.AWS_ROLE_ARN }}
      # - name: Deploy AWS VPC
      #   if: github.event_name == 'workflow_dispatch'
      #   run: terraform apply -auto-approve