name: Validate AWS Deployment

on:
  push:
    branches:
      - master
    paths:
      - infrastructure/global/**/*

permissions:
  id-token: write

jobs:
  validate_aws_deployment:
    defaults:
      run:
        working-directory: infrastructure/global/vpc
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: eu-west-2
      - name: Run Terraform Init
        run: terraform init
      - name: Run Terraform Validate
        run: terraform validate
      - name: Run Terraform Plan
        run: terraform plan
      - name: PWD
        run: pwd
      - name: LS
        run: ls -la
      - name: Upload Artifact
        uses: actions/upload-artifact@v2
        with:
          name: terraform-state
          path: /home/runner/work/talk-booking/talk-booking/infrastructure/global/vpc/.terraform
