name: Validate and Deploy VPC

on:
  push:
    branches:
      - master
    paths:
      - infrastructure/global/**/*
  workflow_dispatch:

jobs:
  validate_deploy_aws_vpc:
    uses: ${{ github.repo }}/.github/workflows/terraform_validate_deploy.yaml@${{ github.ref_name }}
    with:
      working_directory: infrastructure/global/vpc
    secrets:
      aws_role_arn: ${{ secrets.AWS_ROLE_ARN }}
